{% extends "HomeBundle::layout.html.twig" %}

{% set activePage = 'Home' %}
{% block content %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<p>Vous êtes connecté ,vous avez accés aux différents modules</p>
	{% else %}
	 	
	 	<p>
			Vous devez être connecté pour pouvoir accéder aux différents modules !
			</br> 
			<a href="{{ path('fos_user_security_login') }}">Cliquez ici pour vous connecter</a>
	 	</p>
	{% endif %}

{% endblock %}

